body {
	 font-family: 'Noto Sans TC', sans-serif;
	 text-align: justify;
	 font-size: 1.05rem;
}
.bg-primary {
    background-color: #E49288!important;
	background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
}
.social-icons a {
	background-image: url("https://www.transparenttextures.com/patterns/tex2res5.png");
}
.social-icons a:hover {
  background-color: #608099;
}
section {
    background-image: url("https://www.transparenttextures.com/patterns/grid-me.png");
}
h1, h2, h3, h4, h5, h6 {
	text-transform: none;
	font-family: 'Noto Sans TC', sans-serif;
}
h1 {
    font-size: 5rem;
    line-height: 10rem;
}
.subheading {
	text-transform: none;
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 1.2em;
}
h3.mb-0 {
    padding-bottom: 1rem;
}
.school {
	color: #3F50AB!important;
}
.dev-icons {
  font-size: 3rem;
}
.dev-icons .list-inline-item .twicon-tapioca {
  font-size: 4.7rem;
}
.dev-icons .list-inline-item i:hover {
  color: #56B1BC;
}
.list-inline:hover {
  color: #56B1BC;
}
.text-primary {
	color: #FA8072!important;
}
a {
	color: #FA8072
}