body {
	 font-family: 'Noto Sans TC', sans-serif;
	 text-align: justify;
	 
}
.bg-primary {
    background-color: #E49288!important;
	background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
}
.social-icons a {
	background-image: url("https://www.transparenttextures.com/patterns/dark-geometric.png");
}
section {
    background-image: url("https://www.transparenttextures.com/patterns/grid-me.png");
}
h1, h2, h3, h4, h5, h6 {
	text-transform: none;
	font-family: 'Noto Sans TC', sans-serif;
}
h1 {
    font-size: 5rem;
    line-height: 10rem;
}
.subheading {
	text-transform: none;
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 1.2em;
}
.text-primary {
	color: #FA8072!important;
}
a {
	color: #FA8072
}